.mob-menu{
    width: 16rem;
    background: white;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: 0;
    // bottom: 0;
    z-index: 3;

    box-shadow: $shadow-2;

    .social{
        padding: 1rem 0;
    }

    transition: map-get( $transition, med );
    transform: translateX(110%);
}

.mob-nav{
    &:first-of-type:after{
        content: '';
        display: block;
        height: 1px;
        background: $light-text;
        width: calc(100% - 2rem);
        margin: 1rem;
    }

    &--bottom{
        margin-top: auto;
        margin-bottom: 0;
    }

    &__list{
        margin-bottom: 0;
        
    }
    &__item{
        font-family: $headings;
        font-weight: bold;
    }
    &__link{
        color: $text;
        display: block;
        text-decoration: none;
        padding: 1rem;
        line-height: 1;
        width: 100%;
        transition: map-get($transition, short);

        &:hover, &:focus{
            background: $text;
            color: white;
        }

        &--active{
            &:after{
                content: '';
                padding: 0 1px;
                background: $primary;
                margin-left: .25rem;
            }
        }
    }
}

.mob-menu.menu-open{
    transform: translateX(0);
}

body {
    width: 100%;
    height: auto;
    transition: map-get( $transition, med );
}

.header--sticky.menu-open{
    transform: translateX(-16rem);
}

body.menu-open, .header.mob-menu.menu-open{
    // transform: translateX(-16rem);
}

.page-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: map-get( $overlay, dark );
}