.mob-menu{
    width: 16rem;
    background: white;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: 0;
    // bottom: 0;
    height: 100vh;
    z-index: 3;

    box-shadow: $shadow-2;

    .social{
        padding: 1rem 0;
    }
}

.mob-nav{
    &:first-of-type:after{
        content: '';
        display: block;
        height: 1px;
        background: $light-text;
        width: calc(100% - 2rem);
        margin: 0 1rem;
        margin-bottom: 1rem;  
    }

    &__list{
        &--bottom{
            margin-top: auto;
            margin-bottom: 0;
        }
    }
    &__item{
        font-family: $headings;
        font-weight: bold;
    }
    &__link{
        color: $text;
        display: block;
        text-decoration: none;
        padding: 1rem;
        width: 100%;
        transition: map-get($transition, short);

        &:hover, &:focus{
            background: $text;
            color: white;
        }
    }
}

.page-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: map-get( $overlay, dark );
}