.optin {
    padding: 1rem;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ),
    url('../images/optin-background-original.jpg');
    background-size: cover;
    background-position: center right;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    @extend .section-margin;
    
    &__title, &__subtitle {
        margin-bottom: 1rem;
        flex: 100%;
    }
    
    @media #{$lrg} {
        padding: 2rem 1rem;
    }
    @media #{$xlrg} {
        padding: 8rem 2rem;
        //&__title {margin-bottom: 2rem}
    }

    &--post {
        margin-bottom: 2rem !important;
        .optin-form {

        }
        @media #{$xlrg} {
            padding: 2rem 1rem;
        }
    }
}

.optin-form {
    flex: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    font-size: 1rem;
    
    &_label, &__input, &__submit {
        flex: 100%;
        border: none;
    }
    &__input{
        font-size: 1rem;
        border: none;
        padding: .5rem 1rem;
        margin: 0 0 1rem;
            &:last-of-type {margin: 0}
        border: 1px solid $btn-primary;
        transition: all .25s ease-in-out;

        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 2px $btn-primary;
        }
    }
    
    @media #{$med} {
        max-width: 40rem;
        &__label {flex: 100%}
        &__input {
            flex: 1;
        }
        
        &__submit {
            flex: 16rem;
            max-width: 16rem;
            margin-left: 1rem
        }
    }
}