// Section
section {
    margin-bottom: map-get($section-margin, sml);
    @media #{$med-screen} {
        margin-bottom: map-get($section-margin, med);
    }
    @media #{$lrg} {
        margin-bottom: map-get($section-margin, lrg);
    }
}
