.partnerships{

    padding: 0 1rem;

    .steve{
        display: block;
        max-width: 14rem;
        margin: 0 auto 1rem;
        float: none;

        @media #{$med-device}{
            float: left;
            max-width: 12rem;
            height: auto;
            margin: 0 1rem 1rem 0;
        }
    }

    ul {
        list-style-type: disc;

        li{
            padding: 0 0 0 1rem;
            margin: 0 0 1rem;
        }
    }

    hr{
        width: 80%;
        max-width: 14rem;
        margin: 2.25rem auto 2rem;
        clear: both;
    }
}