// Header

.header {

    &__container {
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        padding: 1rem;
    }
    
    
    &__hamburger {
        align-self: flex-start;
        cursor: pointer;
    }
    
    &__hamburger-icon {
        font-size: 2rem;
        color: $text;
        display: block;
    }

    &__menu-text {
        font-size: .75rem;
        line-height: 1;
    }
    
    &__nav {
        flex: 100%;
        &--hero {
            #site-logo {fill: white !important}
            .header__hamburger-icon {color: white;}
        }
    }
    
    &--hero {
        @extend .header;
    }

    transition: map-get( $transition, med );

    &--sticky {
        position: fixed;
        height: auto;
        color: $text;
        top: 0;
        left: 0;
        right: 0;

        background: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                    0 1px 2px rgba(0,0,0,0.24);
        z-index: 999;
        
        transform: translateY(-110%);

        // display: none;

        .hero {
            #Logo-Black {
                fill: $text !important;
            }
        }
        
        .header {
            svg #site-logo {
                fill: $text !important;
            }
            &__hamburger {color: $text !important}
            &__hamburger-icon {color: $text !important}
            padding: 1rem;}

        .nav-link {
            @media #{$lrg} {color: $text !important;}
        }
    }
    
}


.is-sticky{
    transform: translateY(0);
}

#site-logo {
    height: 3rem;
    width: 3rem;
}

.scrolling-logo {
    fill: $text !important;
}


.nav-menu {
    flex: 0 0 100%;
    margin: 1rem 0 0;
    display: none;

    @media #{$lrg}{
    }
}

.nav-item {
    display: block;
    flex: 1;
    margin: 0;
    &:last-of-type {
        a {box-shadow: none;}
    }
}

.nav-link {
    display: block;
    font-family: $headings;
    font-weight: 600;
    color: white;
    background: $text;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    box-shadow: inset 0 -1px 0 #9B9B9B;
    
    &:hover, &:focus {
        background: white !important;
        color: $text !important;
    }

    &--active{
    }
}

@media #{$lrg} {
    .header{
        margin: 1rem auto;
        &__container {
            flex-flow: row nowrap;
            padding: 1rem;
        }
        
        &__hamburger {display: none;}

        &--sticky {
            margin: 0;
        }
    }
    .nav-menu {
        flex: 1;
        display: block;
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }
    .nav-item {
        display: inline-block;
        flex: none;
        margin-left: 2rem;
        
    }
    .nav-link {
        color: $text;
        padding: 0;
        background: none;
        line-height: 1.5;
        box-shadow: none;
        
        text-decoration: none;
        transition: map-get($transition, short);

        // &:after {visibility: hidden}

        &--active{
            &:after{
                content: '';
                display: block;
                background: $text;
                padding: 1px 0;
                margin-top: .25rem;
            }

            &:hover:after{
                background: lighten($text, 20%);
            }
        }

        &:hover, &:focus {
            background: none;
            color: lighten($text, 20%) !important;
        }
    }
    
    .sticky {
        #site-logo {height: 2rem; width: 2rem;}
        .nav-link {
            color: $text !important;
            &:after {background: $text}
        }
        
    }
}